#container{
    display:grid;
    grid-template-columns: 150px 150px 150px 200px;
    grid-gap: 10px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 0px 300px;
    border: 1px solid black;
    justify-content: center;
    

}


#container > div{
    background-color: dodgerblue;
    border: 1px solid black;
    padding: 30px ;
   
    
}


.grid1{
    grid-column: 1/5;
    height: 150px;
}
.grid2,.grid3,.grid4{
    height: 200px;
    
}

.grid5{
    grid-column: 4/4;
    grid-row: 2/4;
    
    
}

.grid6{
    grid-column: 1/4;
    height: 120px;
}

.grid7{
    grid-column: 1/5;
    height: 120px;

}

 




